#contenedor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
}
#elements{
    width: 1.7vw;
    margin-top: 3vw;
}
#a{
    width: 1.7vw;
}
#pants{
    width: 1.7vw;
}
#shirt{
    width: 1.7vw;
}
#s{
    width: 1.7vw;
    margin-top: 6vw;
}
#burger{
    width: 2vw;
}
#productos{
    color: white;
    margin-top: -147vw;
    margin-left: 6vw;
    font-size: 2vw;
}
#check{
    position: absolute;
    display: none;
}
#check:checked ~#menu{
    opacity: 0;
}
#menu{
    background: white;
    width: 18vw;
    height: 46vw;
    position: absolute;
    margin-left: 0.5vw;
}

#campus{
    text-align: center;
    color: black;
    font-size: 1.6vw;
}
#todo{
    position: absolute;
    top: 8vw;
    font-size: 1.3vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#todo:hover{
    color: rgb(184, 169, 161);
}
#abrigos{
    position: absolute;
    top: 10vw;
    font-size: 1.3vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#abrigos:hover{
    color: rgb(184, 169, 161);
}
#camisetas{
    position: absolute;
    top: 14vw;
    font-size: 1.3vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#camisetas:hover{
    color: rgb(184, 169, 161);
}
#pantalones{
    position: absolute;
    top: 12vw;
    font-size: 1.3vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#pantalones:hover{
    color: rgb(184, 169, 161);
}
#carrito{
    position: absolute;
    top: 22vw;
    font-size: 1.3vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#carrito:hover{
    color: rgb(184, 169, 161);
}
#cuadro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vw;
    margin-left: 30vw;
    width: 60vw;
    height: 42vw;
    background: rgb(184, 169, 161);
    border-radius: 2vw;
}

#carrito{
    font-size: 1.5vw;
}
#cuadrito1{
    margin-top: 1vw;
    width: 50vw;
    height: 9vw;
    background: white;
    border-radius: 1.2vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5vw;
}
#camis1{
    width: 5vw;
    margin-left: 1vw;
}
#nombre{
    font-size: 1vw;
}
#chaqueta{
    margin-left: 7vw;
    margin-top: -10vw;
    font-size: 1vw;
}
#dos{
    margin-top: -10vw;
    margin-left: -1.8vw;
    font-size: 1vw;
}
#precio{
    margin-top: -10vw;
    margin-left: 1.3vw;
    font-size: 1vw;
}
#sub{
    margin-top: -10vw;
    margin-left: -0.2vw;
    font-size: 1vw;
}
#basurita1{
    width: 2vw;
    margin-top: -14vw;
}
#basurita2{
    width: 2vw;
    margin-top: -14vw;
}
#basurita3{
    width: 2vw;
    margin-top: -14vw;
}
#cuadrito2{
    margin-top: -6vw;
    width: 50vw;
    height: 9vw;
    background: white;
    border-radius: 1.2vw;
    text-align: center;
}
#cuadrito3{
    margin-top: -6vw;
    width: 50vw;
    height: 9vw;
    background: white;
    border-radius: 1.2vw;
    text-align: center;
}
#vaciar{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
    background: white;
    border-radius: 0.5vw;
    top: 1vw;
    right: 21.5vw;
}
#camper{
    text-align: center;
    font-size: 1.2vw;
    color: black;
    margin-top: 18vw;
}