#contenedor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
}
#elements{
    width: 1.7vw;
    margin-top: 3vw;
}
#a{
    width: 1.7vw;
}
#pants{
    width: 1.7vw;
}
#shirt{
    width: 1.7vw;
}
#s{
    width: 1.7vw;
    margin-top: 6vw;
}
#burger{
    width: 2vw;
}
#check{
    position: absolute;
    margin-left: 16vw;
    display: none;
}
#check:checked ~#menu{
    opacity: 0;
}
#menu{
    background: white;
    width: 18vw;
    height: 46vw;
    position: absolute;
    margin-left: 0.5vw;
}

#campus{
    text-align: center;
    color: rgb(126, 116, 111);
    font-size: 1.8vw;
}
#todo{
    position: absolute;
    top: 8vw;
    width: 15vw;
    font-size: 1.5vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#todo:hover{
    color: rgb(184, 169, 161);
}
#abrigos{
    position: absolute;
    top: 10vw;
    font-size: 1.5vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#abrigos:hover{
    color: rgb(184, 169, 161);
}
#camisetas{
    position: absolute;
    top: 14vw;
    font-size: 1.5vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#camisetas:hover{
    color: rgb(184, 169, 161);
}
#pantalones{
    position: absolute;
    top: 12vw;
    font-size: 1.5vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#pantalones:hover{
    color: rgb(184, 169, 161);
}
#carrito{
    position: absolute;
    top: 22.5vw;
    font-size: 1.5vw;
    color: black;
    margin-left: 2.5vw;
    text-decoration: none;
}
#carrito:hover{
    color: rgb(184, 169, 161);
}
#cuadro{
    display: flex;
    margin-top: 1.5vw;
    margin-left: 22vw;
    width: 70vw;
    height: 42vw;
    background: rgb(184, 169, 161);
    border-radius: 2vw;
}
#carrito1{
    font-size: 2vw;
    margin-left: 2vw;
}
#carrito2{
    font-size: 1.1vw;
    margin-top: 5vw;
    margin-left: -5.5vw;
}
#camper{
    text-align: center;
    font-size: 1.2vw;
    color: black;
    margin-top: 18vw;
}